html, body {
  margin: 0;
  padding-top: 0;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#page-container {
  background: white;
  width: auto;
  margin: auto;
}

#main-nav {
  background-color: #a0c5e9;
  height: 50px;
}

#header {
  height: 150px;
  padding-bottom: 50px;
}

#filters {
  float: left;
  width: 280px;
}

#content{
  margin-left: 280px
}

#footer {
  clear: both;
  height: 66px;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
}

th{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  text-decoration: underline;
}

td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 40px;
}

p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #00f;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 0px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
